**What are the types of application?**
Facebook, netflix, instagram, spotify, dropbox

**What is Programming?**
Programming is the process of creating a set of step-by-step instructions, or code, that tells a computer how to perform a specific task or solve a problem.

**What is Python?**
Python is a popular, high-level, general-purpose programming language known for its clear, readable syntax, making it beginner-friendly

In [ ]:
A1 = int(input("Enter a number: "))
if A1 == 0:
  print("The Number is Zero")
elif A1>0:
  print("The Number is Positive")
else:
  print("The Number is Negative")

Enter a number: -1
The Number is Negative

In [ ]:
def fact(n):
  if n == 0:
    return 1
  else:
    return n * fact(n-1)
#num = int(input("Enter a number: "))
#print("The factorial of", num, "is", factorial(num))

In [ ]:
fact(5)

120

In [ ]:
def fibonacci(n):
  list1=[]
  x=0
  y=1
  for i in range(n):
    list1.append(x)
    x,y = y,x+y
  return list1

In [ ]:
fibonacci(5)

[0, 1, 1, 2, 3]

**How memory managed in python?**
Python automatically allocates and frees memory using reference counting and garbage collection, so you donâ€™t need to manage it manually.

**What is the purpose continuing statement in python?**
the purpose of continuing statement in python is , what is in if condition and after there is continue its mean that number who statisfie if condition that should be skip.

In [ ]:
a=10
b=20
temp=a
a=b
b= temp
print(a,b)

20 10

In [ ]:
a=10
b=20
a=a+b
b=a-b
a=a-b
print(a,b)

20 10

In [ ]:
Num = int(input("Enter a number: "))
if (Num%2 == 0):
  print("Num is even")
else:
  print("Num is odd")

Enter a number: 5
Num is odd

In [ ]:
V = ["a","e","i","o","u"]
Let = str(input("Enter a letter: "))
if Let in V:
  print("Letter is vowel")
else:
  print("Letter is consonant")

Enter a letter: o
Letter is vowel

In [ ]:
n1 = int(input("Enter a number: "))
n2 = int(input("Enter a number: "))
n3 = int(input("Enter a number: "))
if ((n1==n2)or(n2==n3)or(n3==n1)):
  print("Sum of all three numbers is 0")
else:
  print("Sum : ", n1+n2+n3 )

Enter a number: 5
Enter a number: 0
Enter a number: 15
Sum :  20

In [ ]:
n1 = int(input("Enter a number: "))
n2 = int(input("Enter a number: "))
if ((n1==n2)or((n1+n2)==5)or((n1-n2)==5)):
  print("True")
else:
  print("False")

Enter a number: 10
Enter a number: 5
True

In [ ]:
def sum_num(n):
  addition = ((n*(n+1))/2)
  return addition

In [ ]:
sum_num(3)

6.0

In [ ]:
sum_num(9)

45.0

In [ ]:
a2 = len(str(input("Enter a string: ")))
print(a2)

Enter a string: Aniket
6

In [ ]:
a3 = str(input("Enter a string: "))
a4 = a3.count(a3)
print(a4)

Enter a string: janvi
1

**What are negative indexes and why are they used?**
when in list we want to show ending of the list , we using negative indexes that is -1,-2,-3,... they are used to indexing for ending of the list.

In [ ]:
S1 = "My name is Janvi"
print(S1.index("Janvi"))

11

In [ ]:
print(len(S1))

16

In [ ]:
S2 = "Tops"
S3 = "Technologies"
S4 = S2+" "+S3
print(S4)

Tops Technologies

In [ ]:
print(S4.swapcase())

tOPS tECHNOLOGIES

In [ ]:
S5 = "Nosepin"
S6 = "in"
S7 = "ly"
if S5.endswith(S6):
  print(S5+S7)
else:
  F = S5+S6
  print(F)

Nosepinly

In [ ]:
##  Write a Python function to reverses a string if its length is a multiple of 4.
def Que():
  String = str(input("Enter a String: "))
  if (((len(String))%4) == 0):
    print(String[::-1])
  else:
    print(String)

In [ ]:
Que()

Enter a String: Ajay
yajA

Write a Python program to get a string made of the first 2 and the last
2 chars from a given a string. If the string length is less than 2, return
instead of the empty string.

In [ ]:
string = "J"
if len(string) < 2:
  print("Empty String")
else:
  print(string[:2]+string[-2:])

Empty String

**Write a Python function to insert a string in the middle of a string.** we can use function format and print(f{}) we can use both.

**What is List? How will you reverse a list?**
List is inbuilt stored collection of data in square bracket that can be editable. for reverse list we can use function listname.Reverse().

**How will you remove last object from a list?**
for removing last object we can use function listname.pop[-1].

Suppose list1 is [2, 33, 222, 14, and 25], what is list1 [-1]?
Answer is 25

**Differentiate between append () and extend () methods?**
difference between append and extend are , if i want to add something in my list without particular place then using append and if i want to add something in particular place then using extend.

**Write a Python function to get the largest number, smallest num
and sum of all from a list.**
for largestest number using max(list), for smallest number using min(list) and sum of all using sum(list).

**How will you compare two lists?**
We can compare by it's elements like 1. both list have same number of elements and same elements. 2. both list have only same elements. 3. both list have only same number of elements.

In [ ]:
l1 = "Aura"
print(l1.count(l1))

1

In [ ]:
l2 = [1,1,2,2,2,3,3,4,4,4,4]
unique_l2 = list(set(l2))
print(unique_l2)

[1, 2, 3, 4]

Write a Python program to check a list is empty or not.

In [ ]:
list1 = list(input("Enter a list: "))
if len(list1) == 0:
  print("List is empty")
else:
  print("List is not empty")

Enter a list:
List is empty

In [ ]:
def Qu34():
  list1 = list(input("Enter a list: "))
  list2 = list(input("Enter a list: "))
  for i in list1:
    for j in list2:
      if i == j:
       return True
      else:
        return False

In [ ]:
Qu34()

In [ ]:
List2 = list(range(1,31))
Qu35F5 = List2[0:5]
Qu35L5 = List2[-5:]
print(Qu35F5)
print(Qu35L5)

[1, 2, 3, 4, 5]
[26, 27, 28, 29, 30]

In [ ]:
def unique(list1):
  unique_list = []
  for i in list1:
    if i not in unique_list:
      unique_list.append(i)
  return unique_list

In [ ]:
unique([1,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

In [ ]:
A = str(list(input("Enter a string: ")))
print(A)

Enter a string: 1,2,3
['1', ',', '2', ',', '3']

In [ ]:
LIST = [1,2,3,4,5]
print(LIST[0])

1

In [7]:
# Write a Python program to find the second smallest number in a list.
list3 = [3,6,1,7,4]
min_val = list3[0]
second_min = list3[0]
for i in list3:
    if i < min_val:
        min_val = i
    else:
      continue
for i in list3:
    if i != min_val and i < second_min:
        second_min = i
    else:
      continue

print(second_min)

3

In [ ]:
# Write a Python program to get unique values from a list
def unique(list1):
  unique_list = []
  for i in list1:
    if i not in unique_list:
      unique_list.append(i)
  return unique_list

In [ ]:
# Write a Python program to check whether a list contains a sub list
list2 = list(input("Enter a list: "))
if list in list2:
  print("List contains sub list")
else:
  print("List not contains sub list")

Enter a list: 1,2,[1,2]
List not contains sub list

In [ ]:
# Write a Python program to split a list into different variables.
list3 = [1,2,3,4,5,6,7,8,9]
a,b,c,d,e,f,g,h,i = list3
print(a,b,c,d,e,f,g,h,i)

1 2 3 4 5 6 7 8 9

**What is tuple? Difference between list and tuple.**
Tuple is ordered set of data, which is similar to list but we can not change in data and which written in ().
Difference between list and tuple is , we can add, remove data in list but not in tuple.

In [ ]:
## min number of list (Not in question)
list3 = [1,2,3]
min_val = list3[1]
for i in list3:
    if i < min_val:
        min_val = i
    else:
      continue

print(min_val)

1

In [ ]:
# Write a Python program to create a tuple with different data types.
T1 = ("Janvi",3,22.7,False,[2,4,5] )
print(T1)

('Janvi', 3, 22.7, False, [2, 4, 5])

In [ ]:
# Write a Python program to unzip a list of tuples into individual lists.
L1 = [(1,"Banana"),(2, "Apple")]
unzip_L1 = list(zip(*L1))
a,b = unzip_L1
print(a,b)

(1, 2) ('Banana', 'Apple')

In [ ]:
# Write a Python program to convert a list of tuples into a dictionary
L1 = [(1,"Banana"),(2, "Apple")]
print(dict(L1))

{1: 'Banana', 2: 'Apple'}

**How will you create a dictionary using tuples in python?**
we can create list using tuple and then we convert that list of tuple into dictionary.

In [ ]:
# Write a Python script to sort (ascending and descending) a dictionary by value.
L2 = {'Janvi' : 50, 'Ranjana' : 48, 'Krutali' : 42}
l2 = list(L2.values())
l2.sort()
#l2.sort(reverse=True)
print(l2)

[42, 48, 50]

In [ ]:
# Write a Python script to concatenate following dictionaries to create a new one.
#Write a Python script to merge two Python dictionaries
L1 = {1: 'Banana', 2: 'Apple',3: 'Strawberry'}
L2 = {'Janvi' : 2, 'Ranjana' : 3, 'Krutali' : 1}
new = L1 | L2
print(new)

{1: 'Banana', 2: 'Apple', 3: 'Strawberry', 'Janvi': 2, 'Ranjana': 3, 'Krutali': 1}

In [ ]:
# Write a Python script to check if a given key already exists in a dictionary.
L2 = {'Janvi' : 2, 'Ranjana' : 3, 'Krutali' : 1}
L3 = input("Enter a Key : ")
if L3 in L2:
  print("Key already exists")
else:
  print("Key not exists")

Enter a Key : Janvi
Key already exists

In [ ]:
# How Do You Traverse Through a Dictionary Object in Python?
L2 = {'Janvi' : 2, 'Ranjana' : 3, 'Krutali' : 1}
print(tuple(L2))

('Janvi', 'Ranjana', 'Krutali')

In [ ]:
# How Do You Check the Presence of a Key in A Dictionary?
L2 = {'Janvi' : 2, 'Ranjana' : 3, 'Krutali' : 1}
L3 = input("Enter a Key : ")
if L3 in L2:
  print("Key already exists")
else:
  print("Key not exists")

Enter a Key : Mugdha
Key not exists

In [ ]:
# Write a Python script to print a dictionary where the keys are numbers between 1 and 15.
dist1 = {}
for i in range(1,16):
  dist1[i] = i
print(dist1)

{1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9, 10: 10, 11: 11, 12: 12, 13: 13, 14: 14, 15: 15}

In [ ]:
#Write a Python program to check multiple keys exists in a dictionary
L2 = {'Janvi' : 2, 'Ranjana' : 3, 'Krutali' : 1, 'Janvi': 4}
if len(L2) != len(set(L2)):
  print("Multiple keys exists")
else:
  print("Multiple keys not exists")

Multiple keys not exists

In [ ]:
L2 = {'Janvi' : 1, 'Ranjana' : 2, 'Krutali' : 3, 'Janvi': 4}
print(L2)

{'Janvi': 4, 'Ranjana': 2, 'Krutali': 3}

In [ ]:
list1 = ['Date','Name','Age']
list2 = ['02-09-2025', 'Janvi Jariwala','23']
dict1 = dict(zip(list1,list2))
print(dict1)

{'Date': '02-09-2025', 'Name': 'Janvi Jariwala', 'Age': '23'}

In [ ]:
# Write a Python program to find the highest 3 values in a dictionary
L2 = {'Janvi' : 50, 'Ranjana' : 48, 'Krutali' : 42, 'Mugdha' : 25 ,'Harshil' : 30}
l2 = list(L2.values())
l2.sort(reverse = True)
print(l2[0:3])

[50, 48, 42]

In [ ]:
#Write a Python program to combine values in python list of dictionaries.Sample data: [{'item': 'item1', 'amount': 400}, {'item': 'item2', 'amount':
# 300}, o {'item': 'item1', 'amount': 750}]
dict1 = [{'item': 'item1', 'amount': 400}, {'item': 'item2', 'amount': 300}, {'item': 'item1', 'amount': 750}]
dict2 = {}
for i in dict1:
  if i['item'] not in dict2:
    dict2[i['item']] = i['amount']
  else:
    dict2[i['item']] += i['amount']
print(dict2)

{'item1': 1150, 'item2': 300}

In [ ]:
S1 = "Happy"
D1 = {}
for i in range(len(S1)):
  if S1[i] not in D1:
    D1[S1[i]] = S1[i]
  else:
    D1[S1[i]] += S1[i]
print(D1)

{'H': 'H', 'a': 'a', 'p': 'pp', 'y': 'y'}

In [ ]:
S1 = "W3resource"
D1 = {}
for i in range(len(S1)):
  if S1[i] not in D1:
    D1[S1[i]] = 1
  else:
    D1[S1[i]] += 1
print(D1)

{'W': 1, '3': 1, 'r': 2, 'e': 2, 's': 1, 'o': 1, 'u': 1, 'c': 1}

In [ ]:
S1 = "W3resource"
D1 = {}
for i in S1:
  D1[i] = S1.count(i)
print(D1)

{'W': 1, '3': 1, 'r': 2, 'e': 2, 's': 1, 'o': 1, 'u': 1, 'c': 1}

In [ ]:
# Write a Python function to calculate the factorial of a number
def factorial(n):
  x=0
  y=1
  list1=[]
  for i in range(n):
    list1.append(x)
    x,y=y,x+y

  return print(list1)

In [ ]:
factorial(5)

[0, 1, 1, 2, 3]

In [ ]:
# Write a Python function to check whether a number is in a given range
def check():
  R = range(19)
  N1 = int(input("Enter a number: "))
  if N1 in R:
    print("Number is in given range")
  else:
    print("Number is not in given range")

In [ ]:
check()

Enter a number: 20
Number is not in given range

Sympy is symbolic mathematics library where i can get divisors of number easily.which i use here.

In [ ]:
# Write a Python function to check whether a number is perfect or not.
def perfect():
  N1 = int(input("Enter a number: "))
  Div = []
  for i in range(1,N1):
    if N1%i == 0:
      Div.append(i)
  print(Div)

  if sum(Div) == N1:
    print("Number is perfect")
  else:
    print("Number is not perfect")

In [ ]:
perfect()

Enter a number: 6
[1, 2, 3]
Number is perfect

In [ ]:
#checks whether a passed string is palindrome or not
def palindrome():
  S1 = str(input("Enter a string: "))
  if S1 == S1[::-1]:
    print("String is palindrome")
  else:
    print("String is not palindrome")

In [ ]:
palindrome()

Enter a string: bob
String is palindrome

How Many Basic Types of Functions Are Available in Python?


1.  Built-in function (for example print(),range(),etc..)
2.  User define function ( which can be develope by def() function )
3.  lambda function ( one line statement given by lambda function )
4.  Recursive function ( call themselves to solve problem )
5.  High-ordered function ( function that take a argument as a function  and  give result also a function. )

In [ ]:
# How can you pick a random item from a list or tuple?
list1 = ["Apple","Banana","Strawberry","Peach"]
tuple1 = ("Apple","Banana","Strawberry","Peach")
index = int(input("Enter a index: "))
print(list1[index])
print(tuple1[index])
import random
print(random.choice(list1))
print(random.choice(tuple1))

Enter a index: 2
Strawberry
Strawberry
Peach
Apple

In [ ]:
#How can you pick a random item from a range?
r1 = range(int(input("Enter a range: ")))
print(random.choice(r1))

Enter a range: 20
14

How can you get a random number in python?
that can be done by teo function one is random fuction and second is numpy. if i want **number then random.randint** and** floating random.random** and in numpy **np.random.randint**.

How will you set the starting value in generating random numbers?
Giving input to user they can start for ex. A = int(input("Enter starting value : ")) .

How will you randomize the items of a list in place?
Using import random and in that there is a function random.shuffle so you will get different place.

**What is File function in python? What are keywords to create and write file.**
File function in python is represnting or giving oppurtunity to write,read and append. with open() function we can do such things which is inbuilt.

In [2]:
# Write a Python program to read an entire text file.
f = open("file.txt","r")
print(f.read())

172.16.12.75
user name: 22MTH002
password: pdpias

In [9]:
# Write a Python program to append text to a file and display the text.
f = open("file.txt","a")
f.write("\n This is text from year 2023-24")
f.close()

In [10]:
# Write a Python program to read first n lines of a file.
f = open("file.txt","r")
print(f.readline())

172.16.12.75

In [11]:
# Write a Python program to read last n lines of a file.
f = open("file.txt","r")
print(f.readlines()[-1])

 This is text from year 2023-24

In [12]:
# Write a Python program to read a file line by line and store it into a list.
f = open("file.txt","r")
F_list = []
for i in f:
  if i not in F_list:
    F_list.append(i)
print(F_list)

['172.16.12.75\n', 'user name: 22MTH002\n', 'password: pdpias\n', ' This is text from year 2023-24\n', ' This is text from year 2023-24']

In [14]:
# Write a Python program to read a file line by line store it into a variable.
f = open("file.txt","r")
F_list = []
for i in f:
  if i not in F_list:
    F_list.append(i)
a,b,c,d,e = F_list
print(a,b,c,d,e)

172.16.12.75
 user name: 22MTH002
 password: pdpias
  This is text from year 2023-24
  This is text from year 2023-24

In [17]:
# Write a python program to find the longest words from text file.
f = open("file.txt","r")
F_list = []
min_val = 0
for i in f:
  if i not in F_list:
    F_list.append(i)

for i in range(len(F_list)):
  if len(F_list[i]) > min_val:
        min_val = len(F_list[i])
  else:
      continue

print(F_list[i])
print(min_val)

 This is text from year 2023-24
32

In [18]:
# Write a Python program to count the number of lines in a text file.
f = open("file.txt","r")
F_list = []
for i in f:
  if i not in F_list:
    F_list.append(i)
print(len(F_list))

5

In [20]:
# Write a Python program to count the frequency of words in a file.
f = open("file.txt","r")
words = f.read().split()
word_count = {}
for i in words:
  if i not in word_count:
    word_count[i] = 1
  else:
    word_count[i] += 1
print(word_count)

{'172.16.12.75': 1, 'user': 1, 'name:': 1, '22MTH002': 1, 'password:': 1, 'pdpias': 1, 'This': 3, 'is': 3, 'text': 3, 'from': 3, 'year': 3, '2023-24': 3}

In [21]:
# Write a Python program to write a list to a file.
f = open("file.txt","w")
list1 = ["Apple","Banana","Strawberry","Peach"]
f.write(str(list1))
f.close()

In [22]:
f= open("file.txt","r")
print(f.read())

['Apple', 'Banana', 'Strawberry', 'Peach']

In [23]:
# Write a Python program to copy the contents of a file to another file.
f = open("file.txt","r")
f1 = open("Remote.txt","w")
f1.write(f.read())
f1.close()

In [25]:
f1 = open("Remote.txt","r")
print(f1.read())

['Apple', 'Banana', 'Strawberry', 'Peach']

**Explain Exception handling? What is an Error in Python?**
when you make some code for user and may be they are not familiar with coding so at taht moment we can use exception handling. Error is like when what you give to user and may they wrote something wrong so coding giving error like e, invalid value.

How many except statements can a try-except block have? Name
Some built-in exception classes:
we write many except statements there is no limit.
In-built exception classes:


1.   Zero divisor error
2.   Value error
3.   key error
4.   type error
5.   Index error and many more

**When will the else part of try-except-else be executed?**
when there is no error in try block so it conclude to else block.

**Can one block of except statements handle multiple exception?**
yes , it can handle with different aspect. for example if i give in try input("enter a integer") in except there are two kind of error (" wrong type of input") , value error (" given number is wrong"), except exception as e.

**When is the finally block executed?**
Finally block executed when there is error or not, when you use continue , pass or when exception is not handled.

**What happens when â€ž1â€Ÿ== 1 is executed?**
here this is not going to happen because L.H.S is string and R.H.S is integer and both datatype is different.

**How Do You Handle Exceptions with Try/Except/Finally in Python?**
**Explain with coding snippets.**

when you write code about it , in try user are going to input. if it cause error then it goes to except and if there is no error occur then it will goes to finally.
Example:
try:
   x= int(input("enter a interger:"))
   result = 12/x
except ValueError:
  print("Given input is not valid")
except ZeroValueDivisor:
  print("You can't divide with input number")
Finally:
  print("You got it")

In [5]:
#Write python program that user to enter only odd numbers, else will raise an exception.
try:
  x = int(input("Enter a odd number: "))
  if x%2 == 0:
    raise TypeError
  else:
    print("Given input is odd number")
except TypeError:
  print("Given input is not odd number")
except ValueError:
  print("Given input is not integer")

Enter a odd number: 11
Given input is odd number